body,
html,
#root {
  position: absolute;
  background-color: #262626;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center; /* 수직 정렬 */
  flex-direction: row; /* default: row */
  justify-content: center; /* flex direction에 대해서 정렬방식 선택 */
}

table {
  margin: auto;
}

.front {
  text-align: center;
  width: 100%;
  img {
    margin-bottom: 10vh;
  }
}

form {
  text-align: center;
  height: 50%;
  h1,
  p {
    color: #fdf9f0;
  }
  .username {
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    .icon {
      display: flex;
      border-radius: 10px 0px 0px 10px;
      height: 6vh;
      width: 8vw;
      background-color: #ec7677;
      align-items: center;
      justify-content: center;
      svg {
        height: 4vh;
        width: 4vh;
      }
    }
    input {
      padding-left: 2vw;
      background-color: #414141;
      border: #636363;
      border-radius: 0px 10px 10px 0px;
      width: 40%;
      height: 6vh;
      font-size: 3vh;
      color: #fdf9f0;
      box-sizing: border-box;
      transition: 0.5s;
    }
    input:focus {
      background-color: #636363;
      outline: none;
    }
  }

  .password {
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    .icon {
      display: flex;
      border-radius: 10px 0px 0px 10px;
      height: 6vh;
      width: 8vw;
      background-color: #f7cd83;
      align-items: center;
      justify-content: center;
      svg {
        height: 4vh;
        width: 4vh;
      }
    }
    input {
      padding-left: 2vw;
      background-color: #414141;
      border: #636363;
      border-radius: 0px 10px 10px 0px;
      width: 40%;
      height: 6vh;
      font-size: 3vh;
      color: #fdf9f0;
      box-sizing: border-box;
      transition: 0.5s;
    }
    input:focus {
      background-color: #636363;
      outline: none;
    }
  }
}
.static {
  cursor: not-allowed;
}

.draggable {
  cursor: move;
}

$block-height: max(4vh, 3vw);
$block-width: max(16vh, 12vw);
$border-radius: 2.8vh;

.game {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  .block {
    width: $block-width;
    height: $block-height;
    text-align: center;
    color: #fef9ef;
    font-size: calc($block-height / 2);
    line-height: $block-height;
    .turn {
      background-color: #404040;
      height: $block-height;
      border-radius: calc($block-height / 2) calc($block-height / 2) 0 0;
    }
    .my-name {
      background-color: #ec7677;
      height: $block-height;
    }
    .their-name {
      background-color: #f7cd83;
      height: $block-height;
      border-radius: 0 0 calc($block-height / 2) calc($block-height / 2);
    }
  }
  .game-main {
    position: relative;
    width: 56vh;
    height: 56vh;

    .grid {
      position: absolute;

      display: grid;

      grid-template-columns: repeat(5, 1fr);

      grid-template-rows: repeat(5, 1fr);

      grid-gap: 1.5vh;
      z-index: 1;

      .cell {
        width: 10vh;
        height: 10vh;
        border-radius: $border-radius;
        color: rgb(211, 211, 211);
        background-color: rgb(211, 211, 211);
        z-index: 1;
      }

      .invis {
        width: 10vh;
        height: 10vh;
        z-index: 2;
      }
    }
  }
}

.chat {
  width: $block-width;
  height: $block-height;
  text-align: center;
  line-height: $block-height;
  .emoji {
    background-color: #404040;
    height: $block-height;
    border-radius: calc($block-height / 2) calc($block-height / 2) 0 0;
  }
  input {
    font-size: calc($block-height / 3);
    box-sizing: border-box;
    width: $block-width;
    height: $block-height;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 0 0 calc($block-height / 2) calc($block-height / 2);
  }
}

$chat-top: 36vh;

.extended-chat {
  width: $block-width;
  height: $block-height;
  text-align: center;
  line-height: $block-height;
  .extended-emoji {
    z-index: 10;
    position: absolute;
    top: $chat-top;
    left: 47vw;
    width: 50vw;
    background-color: #404040;
    height: $block-height;
    border-radius: calc($block-height / 2) calc($block-height / 2) 0 0;
  }
  .exit {
    background-color: darkred;
    color: white;
    border: none;
    box-sizing: border-box;
    height: $block-height;
    width: 3rem;
    border-radius: 0 calc($block-height / 2) 0 0;
    float: right;
  }
  .chatlog {
    z-index: 10;
    position: absolute;
    top: calc($chat-top + $block-height);
    left: 47vw;
    width: 50vw;
    height: 50vh;
    background-color: #fdf9f0;
  }
  input {
    position: absolute;
    top: calc($chat-top + $block-height + 50vh);
    left: 47vw;
    font-size: calc($block-height / 3);
    box-sizing: border-box;
    width: 50vw;
    height: $block-height;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 0 0 calc($block-height / 2) calc($block-height / 2);
  }
}

.enter {
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  & > * {
    background-color: #fdf9f0;
    border: none;
    height: 5vh;
    border-radius: 1.25vh;
    font-size: 2vh;
    transition: 0.2s;
  }
  & > *:hover {
    font-size: 2.5vh;
    background-color: #faebc7;
  }
  .a {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .b {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .c {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .d {
    grid-column: 3/4;
    grid-row: 2/3;
  }
}

.react-draggable {
  position: absolute;
  z-index: 5;
  width: 11.5vh;
  height: 11.5vh;
  border-radius: 0vh;
  background-color: none;
  text-align: center;
  line-height: 10vh;
  color: white;
  border: red;
  border-width: 1vh;
}

.pieces-outer {
  filter: url("#goo");
  position: absolute;
  z-index: 4;
}

.their {
  background-color: red !important;
  z-index: 3;
}

.not-dragged {
  transition: 200ms;
}

.dragged {
  transition: 0ms !important;
}
